<div class="container content">
    <h1 class="titles">Pagina no encontrada</h1>
    <div>
        <img src="https://th.bing.com/th/id/R.d6add873650eeeb1e1c8e251b644811b?rik=v03voV0QgL7ZLw&riu=http%3a%2f%2f1.bp.blogspot.com%2f_mHsMl7inr7Y%2fTIGPZ-oebqI%2fAAAAAAAAABM%2fD3gw435njsg%2fs1600%2fskater-fall.jpg&ehk=Uaj%2bKmNNskzcd0OIkkTdQcrvkWI89fqUdsETOkJtCrM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
            alt="404 not found">
    </div>
</div>