<section class="container-fluid admin-user-content">
    <h1 class="titles">Administrador de usuarios</h1>
    <div class="container-fluid">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Rol</th>
                    <th>Ultima conexion</th>
                    <th>Controles</th>
                </tr>
            </thead>
            <tbody id="users"></tbody>
        </table>
    </div>
</section>

<script src="js/usersAdmin.js"></script>