<section class="container chat-wrapper">
    <div id="chat-container">
        <div id="chat-header">
            <h6 class="nombreusuario">{{user.name}} <span class="text-success fs-6 fw-bold">Online</span></h6>
        </div>
        <div id="chat-messages">
            <div class="message sender">
                <div class="user-info">
                    <div class="sender-name">Conectado</div>
                </div>
                <div id="chat">Bienvenido al Chat de la comunidad</div>
            </div>
        </div>
        <form id="formulario" class="d-grid gap-2">
            <input type="text" name="mensaje" id="mensaje" placeholder="Escribe algo...">
            <button id="sendMessage" class="btn-card-ok"><i class="fas fa-paper-plane"></i> Enviar</button>
            <button id="clearChat" class="btn-card-danger"><i class="fas fa-trash"></i> Vaciar Chat</button>
        </form>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>