<div class="container-fluid confirm-wrapper">
    <img src="https://newchoice.com.br/wp-content/uploads/2019/02/email-enviado-com-sucesso-e1549033476706.gif"
        alt="Correo enviado exitosamente" height="300px">
</div>
<h4 class="auth-title">
    Se ha enviado un codigo de confirmacion a tu email!
</h4>