<section class="hero-section">
  <div class="hero-banner">
    <img src="https://logodix.com/logo/972144.jpg" alt="logos" width="100%" height="500px" />
  </div>
</section>

<section class="container-fluid">
  <div class="logos-banner">
    <img src="img/logos.png" alt="logos" class="img-fluid" />
  </div>
</section>

<section class="mt-4 mb-4">
  <h2 class="titles">Buscas algo en especial?</h2>
  <h3 class="subtitles">Navega entre las categorias de los productos.</h3>
  <div class="container-fluid card-content d-flex row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4 mx-auto">
    <div>
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgtp/main/ruedas1.png"
          class="card-img-top img-card-home" alt="Imagen del producto" width="250" height="200" />
      </div>
      <div class="card-body">
        <h5 class="card-title card-titles">
          Ruedas
        </h5>
        <div class="link-card">
          <a href="/products?query=Ruedas" class="btn-card-ok">
            Ver Todas las Ruedas
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgtp/main/lija1.png"
          class="card-img-top img-card-home" alt="Imagen del producto" width="190" height="200" />
      </div>
      <div class="card-body">
        <h5 class="card-title card-titles">
          Agarres
        </h5>
        <div class="link-card">
          <a href="/products?query=Grip" class="btn-card-ok">
            Ver Todas las lijas
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgtp/main/skate10.png"
          class="card-img-top img-card-home" alt="Imagen del producto" width="250" height="200" />
      </div>
      <div class="card-body">
        <h5 class="card-title card-titles">
          Patinetas
        </h5>
        <div class="link-card">
          <a href="/products?query=Patineta" class="btn-card-ok">
            Ver Todas las patinetas
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="d-flex align-items-center justify-content-center">
        <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgtp/main/trucks10.png"
          class="card-img-top img-card-home" alt="Imagen del producto" width="250" height="200" />
      </div>
      <div class="card-body">
        <h5 class="card-title card-titles">
          Trucks
        </h5>
        <div class="link-card">
          <a href="/products?query=Trucks" class="btn-card-ok">
            Ver Todas los Trucks
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
