<div class="login-con">
  <form action="/api/users/login" method="POST" class="container login-form">
    <div class="img-wrapper">
      <img src="https://cdn.vectorstock.com/i/thumb-large/24/34/vintage-sport-skateboarding-label-vector-21012434.jpg"
        alt="imagen formulario inicio de sesion" class="img-fluid">
    </div>
    <div>
      <h1 class="auth-title">Ingresar</h1>
      {{#if incorrectEmail}}
      <div class="alert alert-danger" role="alert">
        {{incorrectEmail}}
      </div>
      {{/if}}
      {{#if loginError}}
      <div class="alert alert-danger" role="alert">
        {{loginError}}
      </div>
      {{/if}}
      <div class="form-item-login">
        <label for="email" class="label-login">Correo electronico</label>
        <input type="email" name="email" id="email" placeholder="Ingresa tu correo electronico">
      </div>
      {{#if incorrectPassword}}
      <div class="alert alert-danger" role="alert">
        {{incorrectPassword}}
      </div>
      {{/if}}
      <div class="form-item-login">
        <label for="password" class="label-login">Contrase単a</label>
        <input type="password" name="password" id="password" placeholder="ingresa tu contrase単a">
      </div>
      <button type="submit" class="btn-ok">Ingresar</button>
      <div class="account">
        <p>No tenes cuenta?
          <a href="/register">Registrate</a>
        </p>
        <p>Olvidaste tu contrase単a?
          <a href="/reset-password">Restablecer contrase単a</a>
        </p>
      </div>
    </div>
  </form>
</div>