<div class="profile-con">
  <div class="container-fluid profile-wrapper">
    <h1 class="titles">Mi perfil</h1>
    <div class="container profile-container">
      <hr class="divider-line">
      <div class="item-content">
        <div class="profile-item-content">
          <p class="auth-title">Nombre:</p>
        </div>
        <div class="w-75">
          <div>
            <h2 class="user-data">{{user.name}}</h2>
          </div>
          </label>
          <input type="file" id="avatar" class="d-none">
        </div>
      </div>
      <hr class="divider-line">
      <div class="item-content">
        <div class="profile-item-content">
          <p class="auth-title">Apellido:</p>
        </div>
        <div class="w-75">
          <div>
            <h2 class="user-data">{{user.surName}}</h2>
          </div>
          </label>
          <input type="file" id="avatar" class="d-none">
        </div>
      </div>
      <hr class="divider-line">
      <div class="item-content">
        <div class="profile-item-content">
          <p class="auth-title">Email:</p>
        </div>
        <div class="w-75">
          <div>
            <h2 class="user-data">{{user.email}}</h2>
          </div>
          </label>
          <input type="file" id="avatar" class="d-none">
        </div>
      </div>
      <hr class="divider-line">
      <div class="item-content">
        <div class="profile-item-content">
          <p class="auth-title">Rol:</p>
        </div>
        <div class="w-75">
          <div>
            <h2 class="user-data">{{user.rol}}</h2>
          </div>
          </label>
          <input type="file" id="avatar" class="d-none">
        </div>
      </div>
      <hr class="divider-line">
    </div>
  </div>
</div>