<div class="reset-con">
  <form action="/api/users/requestPasswordReset" method="POST" class="container reset-form">
    <h1 class="auth-title">Enviar email de verificacion</h1>
    {{#if userError}}
    <div class="alert alert-danger" role="alert">{{userError}}</div>
    {{/if}}
    <div class="form-item-register">
      <input type="text" name="email" id="email" placeholder="Ingrese su correo electronico">
    </div>
    <button type="submit" class="btn-ok">Enviar</button>
  </form>
</div>